.container-border
{
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    min-width: 50vw;
}

.container-input-box 
{
    width: 100%;
}

.container-items-list-box {
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 5px;
    margin: 10px;
    display: flex;
    border-radius: 5px;
    width: 50vw;
    min-height: 100px;
    background-color: white;
    gap:10px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.single-item-container {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: auto;
}

.single-item-name {
    padding-right: 5px;
}

.single-item-close-button 
{
    cursor: pointer;
}