.app-text {
    font-family: 'Courier New', Courier, monospace;
}

.page-title {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.centered-text {
    text-align: center;
}

.centered-container {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.location-button 
{
    width:10vw;
    height:5vh;
}

.stores-container {
    display : flex;
    flex-wrap: wrap;
    gap: 10px;
    margin:auto;
    padding:20px;
    width: 95vw;    
}