.card-container {
    border: 1px solid black;
    border-radius: 5px;
    padding : 10px;
    height:20vh;
    width:30vw;
}

.name-distance-flexbox {
    display: flex;
}

.distance-text {
    flex-grow:1;
    text-align: right;
    margin-block: auto;
}

.address-text 
{
    max-width: 800px;
    flex-wrap: wrap;
}